[submodule "src/Gamz/PuyoBundle"]
	path = src/Gamz/PuyoBundle
	url = git@github.com:gamz/GamzPuyoBundle.git
[submodule "src/Gamz/TypefastrBundle"]
	path = src/Gamz/TypefastrBundle
	url = git@github.com:gamz/GamzTypefastrBundle.git
